<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Yinagn</title>
</head>
<body>
<div class='left padded-left'>
<div><class="welcome">
</div>
<img float="center" src='1.JPG' height="300">
<div>
  <h1>Curriculum Vitae</h1>
  <h2>Personal Information </h2>
  <h2> Yinagn Iwnetu Abate</h2>
  <h4>E-mail yinagn76@yahoo.com, yinagniwnetu@yahoo.com</h4>
  <h4>Date of birth 04.10.1983 G.C  dd/mm/yyyy</h4>
  <h4>Nationality   Ethiopian</h4>
  <h3>EDUCATION:</h3>
<h4>&gt;Master of Science in Systems Engineering and Informatics
Czech University of Life Sciences, Prague, Czech Republic September 2014 - June 2016</h4>
  <h3>EMPLOYMENT</h3>
  <h4> &gt;Agricultural TVET College, SNNP, Ethiopia September 2005- August 2014- Taught: I.C.T, Networking, Digital Electronics, Computer Maintenance, Database,
Computer and Network Security Maintained the campus computers both in classes and offices
<h4>&gt;Established the entire campus local area network (LAN) to connect offices, departments,classes and computer labs at the university</h4>
<h4>&gt;Head of Registrar office at the University</h4>
<h3>CERTIFICATES AND TRAININGS</h3>
<h4>&gt;Training on advanced Geographical Information System (GIS) natural resource
management, Wolaita Soddo Agricultural College, Ethiopia March 2013
Training on Biostatistics, SPSS and Excel Software packages, Wolaita Soddo Agricultural
College, Ethiopia July 2013
<h4>&gt;Certificate of Seamanship, Ethiopian Ministry of Transport Maritime Affairs Authority August
2012</h4>
<h4>&gt;Trained on personal survival techniques, fire prevention and fire fighting, elementary first
aid, personal safety and social responsibility</h4>
<h3>SKILLS</h3>
 <h4> &gt;Computer: Java, C++, HTML, Visual Basic, SQL, Java Script, Dr Racket, Microsoft Excel, Access, PowerPoint and Word</h4>
 <h4> &gt;Language: Fluent in English and Amharic</h4>
<div class="row">
<img src="2.jpg" height="500px" width="600px">
<img src="4.jpg" height="500px" width="600px">
</div>
<div class="row">
<img src="3.jpg" height="500px" width="600px">
<img src="5.jpg" height="500px" width="600px">
</div>
</div><!-- .welcome -->
</body>
</html>
