<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Yinagn</title>
</head>
<body>
<div class='left padded-left'>
<div><class="welcome">
</div>
<img float="center" src='1.JPG' height="300">
<div>
  <h1>My name is Yinagn Iwnetu Abate</h1>
  <h2>I am from Ethiopia</h2>
  <h3>EDUCATION:</h3>
<h4>Master of Science in Systems Engineering and Informatics
Czech University of Life Sciences, Prague, Czech Republic September 2014 - June 2016</h4>
  <h3>EMPLOYMENT</h3>
  <h4> Agricultural TVET College, SNNP, Ethiopia September 2005- August 2014
- Taught: I.C.T, Networking, Digital Electronics, Computer Maintenance, Database,
Computer and Network Security
 Maintained the campus computers both in classes and offices
o Established the entire campus local area network (LAN) to connect offices, departments,
classes and computer labs at the university
o Head of Registrar office at the University</h4>
<h3>CERTIFICATES AND TRAININGS</h3>
<h4>Training on advanced Geographical Information System (GIS) natural resource
management, Wolaita Soddo Agricultural College, Ethiopia March 2013
Training on Biostatistics, SPSS and Excel Software packages, Wolaita Soddo Agricultural
College, Ethiopia July 2013
Certificate of Seamanship, Ethiopian Ministry of Transport Maritime Affairs Authority August
2012
• Trained on personal survival techniques, fire prevention and fire fighting, elementary first
aid, personal safety and social responsibility</h4>
<div class="row">
<img src="2.jpg" height="500px" width="600px">
<img src="4.jpg" height="500px" width="600px">
</div>
<div class="row">
<img src="3.jpg" height="500px" width="600px">
<img src="5.jpg" height="500px" width="600px">
</div>
</div><!-- .welcome -->
</body>
</html>
